.rentals-header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.rental-list-item-title {
  display: flex;
  justify-content: space-between;
}

.rentals-list {
  .ant-list-item-action {
    @media screen and (max-width: 450px) {
      & > li {
        display: block;
        margin-bottom: 5px;

        & > .ant-list-item-action-split {
          display: none;
        }
      }
    }

  }
}
